# AXP202 PMIC

# Copyright (c) 2022 Qingsong Gou <gouqs@hotmail.com>
# SPDX-License-Identifier: Apache-2.0

config AXP202
	bool "AXP202 PMIC"
	select SENSOR
	depends on I2C

if AXP202

choice
	prompt "Trigger mode"
	default AXP202_TRIGGER_GLOBAL_THREAD
	help
	  Specify the type of triggering to be used by the driver.

config AXP202_TRIGGER_NONE
	bool "No trigger"

config AXP202_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select AXP202_TRIGGER

config AXP202_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select AXP202_TRIGGER

endchoice

config AXP202_TRIGGER
	bool "Use AXP202 trigger"

config AXP202_THREAD_PRIORITY
	int "Thread priority"
	depends on AXP202_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config AXP202_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on AXP202_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # AXP202
